{% load static %}
<html>
    <head>
        <title>Labellisation données de caisse</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link href="//fonts.googleapis.com/css?family=Berkshire+Swash&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <a href="{% url 'home' %}" class="top-menu"><span class="glyphicon glyphicon-share-alt"></span> Retour à l'accueil</a>
            <h1><a href="/labelling/summary">Labellisation des données de caisse</a></h1>
        </div>

        <div class="content container">
            <h3>Quel est votre nom ?</h3>
            <div class="row">
                <div class="col-md-8">
                        <form method="POST" class="post-form">{% csrf_token %}
                            {{ form.as_p }}
                            <div class="row">
                                <p class="sep"><button type="submit" class="save btn btn-default" name="labelling" value=None>Commencer la labellisation à partir d'un fichier</button></p>
                            </div>
                            <div class="row">
                                <p class="sep"><button type="submit" class="save btn btn-default" name="labellingbyhand" value=None>Commencer la labellisation manuelle (cad en fournissant le label à labelliser)</button></p>
                            </div>

                        </form>
                </div>
            </div>
            </div>
        </div>
    </body>
</html>
