{% load static %}
<html>
    <head>
        <title>Labellisation données de caisse</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link href="//fonts.googleapis.com/css?family=Berkshire+Swash&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <a href="{% url 'labelling_author' %}" class="top-menu"><span class="glyphicon glyphicon-remove"></span></a>
            <h1><a href="/labelling/author">Labellisation des données de caisse</a></h1>
        </div>

        <div class="content container">
            <h3>Choix du fichier à labelliser</h3>
            <div class="row">
                <div class="col-md-8">
                    <form method="POST" class="post-form">{% csrf_token %}
                        <input list="suggestion" type="text" name="tableselected" id="tableselected">
                        <datalist id="suggestion">
                            {% for table in tables %}
                                <option value="{{ table }}">
                            {% endfor %}
                        </datalist>
                        <p class="sep"></p>
                        <button type="submit" class="save btn btn-default">Commencer la labellisation de ce fichier</button>
                    </form>
                </div>
            </div>
        </div>
    
    </body>
</html>
