{% load static %}
<html>
    <head>
        <title>Labellisation données de caisse</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link href="//fonts.googleapis.com/css?family=Berkshire+Swash&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <a href="{% url 'labelingbyhand_author' %}" class="top-menu"><span class="glyphicon glyphicon-remove"></span></a>
            <h1><a href="/labelingbyhand/author">Labellisation des données de caisse</a></h1>
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                <h3>Fin de labellisation du fichier</h3>
                <ul>
                    <li>Nombre total d'observations à labelliser dans le fichier : {{ nb_total }} </li>
                     <li>Nombre d'obervations labellisées au moins une fois : {{ nb_labeled_atLeastOnce }} </li>
                </ul>
        
                <table border="1" width="600">
                    <tr>
                        <td align="center"><B>Catégorie</B></td>
                        <td align="center"><B>Nombre de labellisés au moins une fois</B></td>
                        <td align="center"><B>Nombre de labellisés deux fois</B></td>
                        <td align="center"><B>Nombre total</B></td>
                    </tr>
                    {% for row in resbygroup %}
                    <tr> 
                        <td>{{ row.group }}</td> 
                        <td>{{ row.labeledatleastOnce }}</td> 
                        <td>{{ row.labeled }}</td> 
                        <td>{{ row.total }}</td> 
                    </tr>
                    {% endfor %}
                </table>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">         
                <form method="POST" class="post-form">{% csrf_token %}
                    <p class="sep"><label for="unknown"><h4>Pour permettre de labelliser à nouveau les produits taggés comme "je ne sais pas": </h4></label>
                    <button type="submit" class="save btn btn-default" name="unknown" value=None>Re-labelliser</button></p>
                </form>

                <form method="POST" class="post-form">{% csrf_token %}
                    <p class="sep"><label for="labelingbyhand"><h4>Pour continuer à labelliser en fournissant le libellé ... </h4></label>
                    <button type="submit" class="save btn btn-default" name="labelingbyhand" value=None>Poursuivre</button></p>
                </form>
                </div>
            </div>
        </div>
    </body>
</html>
