{% load static %}
<html>
    <head>
        <title>Labellisation données de caisse</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link href="//fonts.googleapis.com/css?family=Berkshire+Swash&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-remove"></span></a>
            <h1><a href="/post/author">Labellisation des données de caisse</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    <p>Pour le  libellé {{ libelle }} :</p>
                        <table border="1" width="600">
                                <tr>
                                <td align="center"><B>Libellé</B></td>
                                <td align="center"><B>Prediction</B></td>
                                </tr>
                                <form method="POST" class="post-form">{% csrf_token %}
                                {% for pred in predictions %}
                                <tr>
                                <td><input type="radio" name="label" id="label{{ pred.label }}" value="{{ pred.label }}" /><label for="label{{ pred.label }}">{{ pred.label }}</label></td>
                                <td>{{ pred.prediction }}</td>
                                </tr>
                                {% endfor %}
                                <button type="submit" class="save btn btn-default">Choisir</button>
                                </form>
                        </table>
                </div>
            </div>
        </div>
    </body>
</html>
